[run]
source = inventory
parallel = True

omit =
    ../*migrations*
    ../*management*
    *settings*
    *urls*
    *tests*
    *admin*
    *common/utils*
    *wsgi.py

[report]
show_missing = True
skip_covered = True
precision = 3

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

[html]
title = Inventory Coverage Report
directory = docs/htmlcov

