*.py[cod]
*.*~
.#*
*#*#
.DS_Store
*.txt
!base.txt
!development.txt
!production.txt
!staging.txt
!travis.txt
*.pdf
#!docs/*.pdf
.~lock.*
local.py
data/migrate/*.csv
inventory/static/*/
inventory/media/*/
db-snapshots/*.sql
db-snapshots/*.sql.gz
logs/*.log*
old
tmp
docs/htmlcov

# C extensions
*.so

# Packages
/*.egg
/*.egg-info
/dist/
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
