    <script type="text/template" class="template" id="alert_template">
{% verbatim %}
      <div id="alert-modal" class="inv-modal" aria-hidden="true">
        <div class="inv-modal-backdrop" tabindex="-1" data-micromodal-close>
          <div class="modal-dialog modal-content inv-alert-modal
               <% if (theme === "failure") { %> failure <% }
                  else { %> success <% } %>"
               aria-modal="true" aria-labelledby="alert-modal-title">
            <div class="modal-header" role="dialog">
              <h3 class="modal-title"><%= title %></h3>
            </div>
            <div class="modal-body">
              <div class="text-center"><%= message %></div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
{% endverbatim %}
    </script>
