{% load static %}
{% block css-extras %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}
    <script type="text/html" class="template" id="login_template">
      <div id="login-modal">
        <div class="bbm-modal__topbar">
          <h3 class="bbm-modal__title">Login</h3>
	  <div class="create-account">Create Account</div>
        </div>
        <div class="bbm-modal__section">
          <div class="all-error" hidden>
            <span>Error(s):</span>
          </div>
          <form id="login-form" name="login" role="form" method="post"
		action="">
            {% csrf_token %}
            <div class="form-fields">
              <label for="username">Username</label>
              <input type="text" name="username" />
            </div>
            <div class="form-fields">
              <label for="password">Password</label>
              <input type="password" name="password" />
            </div>
          </form>
        </div>
        <div class="bbm-modal__bottombar">
          <div>
	    <div class="recover-username">Recover Username</div>
	    <div class="reset-password">Reset Password</div>
          </div>
	  <div>
            <button type="button" name="login-submit"
                    class="bbm-button" form="login-form">Login</button>
	  </div>
        </div>
      </div>
    </script>
