    <script type="text/template" class="template" id="test_notify_template">
{% verbatim %}
      <div id="test-notify-modal" class="inv-modal modal-slide"
           aria-hidden="true">
        <div class="inv-modal-backdrop" tabindex="-1" data-micromodal-close>
          <div class="modal-dialog modal-content" role="dialog"
               aria-modal="true" aria-labelledby="test-notify-modal-title">
            <header class="modal-header">
              <h3 id="test-notify-modal-title"><%= title %></h3>
            </header>
            <div class="modal-body">
              <div>
                <img src="<%= image %>" class="block-center" />
              </div>
              <div class="text-center"><%= message %></div>
            </div>
            <footer class="modal-footer">
<% if (!noCancel) { %>
              <button type="button" name="notify-cancel"
                      class="<% if (noConfirm) { %>block-center<% } %>
                             button button-def">
                <%= cancel %>
              </button>
<% } %><% if (!noConfirm) { %>
              <button type="button" name="notify-success"
                      class="<% if (noCancel) { %>block-center<% } %>
                             button button-prim">
                <%= confirm %>
              </button>
<% } %>
            </footer>
          </div>
        </div>
      </div>
{% endverbatim %}
    </script>
