{% load static %}
{% load compress %}
{% load i18n %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% trans "Project Based Parts Management Service" %}</title>
{% include "modals/_login.html" %}
{% include "modals/_logout.html" %}
    <script src="{% static 'vendor/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'vendor/js.cookie-2.0.4.min.js' %}"></script>
    <script src="{% static 'vendor/lodash.min.js' %}"></script>
    <script src="{% static 'vendor/backbone-min.js' %}"></script>
    <script src="{% static 'vendor/backbone.mutators.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script>
      var IS_AUTHENTICATED = eval("{{ user.is_authenticated|yesno:'true,false' }}");
      var USER_HREF = "{{ user.get_absolute_url }}"
      var USERNAME = "{{ user.username }}"
    </script>
{% compress js %}
    <script src="{% static 'js/template-loader.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/models/account_models.js' %}"></script>
    <script src="{% static 'js/models/invoice_models.js' %}"></script>
    <script src="{% static 'js/models/login_model.js' %}"></script>
    <script src="{% static 'js/models/logout_model.js' %}"></script>
    <script src="{% static 'js/models/menu_model.js' %}"></script>
    <script src="{% static 'js/models/project_models.js' %}"></script>
    <script src="{% static 'js/models/root_model.js' %}"></script>
    <script src="{% static 'js/views/base_modal_view.js' %}"></script>
    <script src="{% static 'js/views/login_view.js' %}"></script>
    <script src="{% static 'js/views/logout_view.js' %}"></script>
    <script src="{% static 'js/views/menu_views.js' %}"></script>
{% block js-extras %}{% endblock %}
{% endcompress %}
    <link rel="stylesheet"
	  href="{% static 'vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" />
{% compress css %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/logout.css' %}" />
{% block css-extras %}{% endblock %}
{% endcompress %}
  </head>
  <body>
{% block header %}{% endblock %}
    <div id="messages"></div>
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
  </body>
</html>
