<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Inventory Login</title>
    <style type="text/css">
      @import url("/static/css/common.css");
      @import url("/static/css/login.css");
    </style>
    <!--[if gte IE 8]>
    <style type="text/css">
      @import url("/static/css/ie-fix.css");
    </style>
    <![endif]-->
    <style type="text/css" media="print">
      @import url("/static/css/report_print.css");
    </style>
    <script type="text/javascript"
            src="/static/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript"
            src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript"
            src="/static/js/ajaxbase.js"></script>
    <script type="text/javascript"
            src="/static/js/login.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <ul id="headLine">
          <li><p id="name">{{ name }}</p></li>
          <li><p id="title"></p></li>
          <li>
            <div id="login">
              {% block user %}{% endblock %}
              {% block logout %}{% endblock %}
            </div> <!-- End div#login -->
          </li>
        </ul> <!-- End ul#headLine -->
      </div> <!-- End div#header -->
      <div id="container">
        <ul id="navigation">
          <li>
            <div id="breadcrumbs">
              {% breadcrumbs breadcrumb.pages breadcrumb.img %}
            </div>
          </li>
        </ul>
        <div id="message"></div>
        <div id="content">
          <form id="form" method="post" action="javascript:void(0)">
            {% csrf_token %}
            <ul class="create">
              {{ form.as_ul }}
            </ul>
            <div class="submit">
              <input id="submit" type="submit" value="Submit" />
            </div> <!-- End div.submit -->
          </form>
        </div> <!-- End div#content -->
      </div> <!-- End div#container -->
      <div id="footer">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="/admin/">Admin</a></li>
        </ul>
      </div> <!-- End div#footer -->
    </div> <!-- End div#wrapper -->
  </body>
</html>
