<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Inventory {{ title }}</title>
    <style type="text/css">
      @import url("/static/css/common.css");
      @import url("/static/css/record.css");
    </style>
    <!--[if gte IE 8]>
    <style type="text/css">
      @import url("/static/css/ie-fix.css");
    </style>
    <![endif]-->
    <style type="text/css" media="print">
      @import url("/static/css/report_print.css");
    </style>
    <script type="text/javascript" src="/static/js/link.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <ul id="headLine">
          <li><p id="name">{{ name }}</p></li>
          <li><p id="title">{{ title }}</p></li>
          <li>
            <div id="login">
              <p>User: {{ user }}</p>
              <p><a href="/login/logout/">Logout</a></p>
            </div> <!-- End div#login -->
          </li>
        </ul> <!-- End ul#headLine -->
      </div> <!-- End div#header -->
      <div id="container">
        <ul id="navigation">
          <li><div id="breadcrumbs">
            {% breadcrumbs breadcrumb.pages breadcrumb.img %}
          </div></li>
          <li><a id="edit" href="{{ edit }}">Edit Item</a></li>
        </ul> <!-- End ul#navigation -->
        <div id="message">{{ message }}</div>
        <div id="content">
          <ul class="column">
            <li>
              <p class="header">Item</p>
              <hr />
              <ul class="record">{% for field in item %}
                <li>{{ field.label_tag }}{{ field }}</li>{% endfor %}
              </ul> <!-- End ul.record -->
            </li>
            <li>
              <p class="header">Specifications</p>
              <hr />
              <ul class="record">{% for name, value in specset %}
                <li><label>{{ name }}</label><span>{{ value }}</span></li>{% endfor %}
              </ul> <!-- End ul.record -->
            </li>
            <li>
              <p class="header">Cost</p>
              <hr />{% for set in costset.forms %}
              <ul class="record">{% for field in set %}
                {% hideNoValueField field "('Distributor', 'Manufacturer')" li %}{% endfor %}
              </ul> <!-- End ul.record -->{% endfor %}
            </li>
          </ul> <!-- End ul.column -->
        </div> <!-- End div#content -->
      </div> <!-- End div#container -->
      <div id="footer">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login/createUser/">Create User</a></li>
          <li><a href="/siteMap/">Site Map</a></li>
          <li><a href="/admin/">Admin</a></li>
        </ul>
      </div> <!-- End div#footer -->
    </div> <!-- div#wrapper -->
  </body>
</html>
