<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Inventory {{ title }}</title>
    <script type="text/javascript"
            src="/static/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript"
            src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript"
            src="/static/js/ajaxbase.js"></script>
    <script type="text/javascript"
            src="/static/js/purge.js"></script>
    <style type="text/css">
      @import url("/static/css/common.css");
    </style>
    <!--[if gte IE 8]>
    <style type="text/css">
      @import url("/static/css/ie-fix.css");
    </style>
    <![endif]-->
    <style type="text/css" media="print">
      @import url("/static/css/report_print.css");
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <ul id="headLine">
          <li><p id="name">{{ name }}</p></li>
          <li><p id="title">{{ title }}</p></li>
          <li>
            <div id="login">
              <p>User: {{ user }}</p>
              <p><a href="/login/logout/">Logout</a></p>
            </div> <!-- End div#login -->
          </li>
        </ul> <!-- End ul#headLine -->
      </div> <!-- End div#header -->
      <div id="container">
        <ul id="navigation">
          <li><div id="breadcrumbs">
            {% breadcrumbs breadcrumb.pages breadcrumb.img %}
          </div></li>
        </ul>
        <div id="content">
          <p class="text">
            Click the chekbox of the items you wish to delete from the system.
          </p>
          <div id="message"></div>
          <form id="form" method="post" action="javascript:void(0)">
            {% csrf_token %}
            <table>
              <thead>
                <tr class="head">
                  <th>Purge</th>
                  <th>Title</th>
                  <th>Item Number</th>
                  <th>Quantity</th>
                  <th>Catagories</th>
                </tr>
              </thead>
              <tbody class="tbody">{% for record in records %}
                <tr class="body">
                  <td><input type="checkbox" /></td>
                  <td>{{ record.title }}</td>
                  <td>{{ record.item_number }}</td>
                  <td>{{ record.quantity }}</td>
                  <td>{{ record.categories }}</td>
                  <td><input type="hidden" name="pks"
                             value="{{ record.pk }}" /></td>
                </tr>{% endfor %}
              </tbody>
            </table>
            <div class="submit">
              <input id="submit" type="submit" value="Submit" />
              <input id="search" type="button" value="New Search" />
              <input id="reset" type="reset" value="Reset" />
            </div> <!-- End div.submit -->
          </form> <!-- End form#form0 -->
        </div> <!-- End div#content -->
      </div> <!-- End div#container -->
       <div id="footer">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login/createUser/">Create User</a></li>
          <li><a href="/admin/">Admin</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div> <!-- End div#footer -->
    </div> <!-- End div#wrapper -->
  </body>
</html>
