{% extends "base.html" %}
{% load static %}
{% block css-extras %}
    <link href="{% static 'css/site_header.css' %}" type="text/css" media="all"
          rel="stylesheet" />
    <link href="{% static 'css/site_footer.css' %}" type="text/css" media="all"
          rel="stylesheet" />
{% endblock %}
{% block header %}{% include "includes/_header_site.html" %}{% endblock %}
{% block content %}
    <div id="content">
    </div>
{% endblock %}
{% block footer %}{% include "includes/_footer_site.html" %}{% endblock %}
