{% extends "base.html" %}
{% load static %}
{% block css-extras %}
    <link rel="stylesheet" href="{% static 'css/site_header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/site_footer.css' %}" />
{% endblock %}
{% block header %}{% include "includes/_header_site.html" %}{% endblock %}
{% block content %}
    <div id="content">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#projects" aria-controls="projects" role="tab"
             data-toggle="tab">
            Projects
          </a>
        </li>
        <li role="presentation">
          <a href="#invoices" aria-controls="invoices" role="tab"
             data-toggle="tab">
            Invoices
          </a>
        </li>
        <li role="presentation">
          <a href="#invoice-items" aria-controls="invoice-items" role="tab"
             data-toggle="tab">
            Invoice Items
          </a>
        </li>
        <li role="presentation">
          <a href="#items" aria-controls="items" role="tab"
             data-toggle="tab">
            Items
          </a>
        </li>
        <li role="presentation">
          <a href="#suppliers" aria-controls="suppliers" role="tab"
             data-toggle="tab">
            Suppliers
          </a>
        </li>
        <li role="presentation">
          <a href="#categories" aria-controls="categories" role="tab"
             data-toggle="tab">
            Categories
          </a>
        </li>
        <li role="presentation">
          <a href="#locations" aria-controls="locations" role="tab"
             data-toggle="tab">
            Locations
          </a>
        </li>
        <li role="presentation">
          <a href="#account" aria-controls="account" role="tab"
             data-toggle="tab">
            User Account
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="projects">
          <div class="tab-choice-pane">
            <div class="pane-nav"></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="invoices">
          <div class="tab-choice-pane">
            <div class="pane-nav"></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="invoice-items">
          <div class="tab-choice-pane">
            <div class="pane-nav"></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="items">
          <div class="tab-choice-pane">
            <div class="pane-nav"></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="suppliers">
          <div class="tab-choice-pane">
            <div class="pane-nav"></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="categories">
          <div class="tab-choice-pane">
            <div class="pane-nav"></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="locations">
          <div class="tab-choice-pane">
            <div class="pane-nav"></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="account">
          <div class="tab-choice-pane">
            <div class="pane-nav"></div>
          </div>
        </div>
      </div> <!-- .tab-content -->
    </div> <!-- #content -->
{% endblock %}
{% block footer %}{% include "includes/_footer_site.html" %}{% endblock %}
