@font-face {
  font-family: 'Noto Sans';
  src: url('Noto Sans.woff'), format('woff');
  src: url('Noto Sans.ttf'), format('ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: 'Semi Condensed';
  src: url('Noto Sans.woff'), format('woff');
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('DejaVu Sans.woff'), format('woff');
}

body {
  font-family: 'Noto Sans';
  margin: 0;
  padding: 0;
  background-color: rgba(210, 210, 210, 1);
  font-size: medium;
  /*color: rgba(50, 50, 70, 1);*/
}

#content {
  margin: 5px 10px;
  border: 1px solid;
  padding: 2px;
  min-height: 500px;
}
