/*
 * Common CSS
 *
 * css/common.css
 */

@font-face {
  font-family: 'Noto Sans';
  src: url('Noto Sans.woff'), format('woff');
  src: url('Noto Sans.ttf'), format('ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: 'Semi Condensed';
  src: url('Noto Sans.woff'), format('woff');
  src: url('Noto Sans.ttf'), format('ttf');
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('DejaVu Sans.woff'), format('woff');
}

body {
  font-family: 'Noto Sans';
  margin: 0;
  padding: 0;
  /* green rgba(235, 255, 235, 1) gray rgba(211, 211, 211, 1) */
  background-color: rgba(235, 255, 235, 1);
  font-size: medium;
  color: rgba(72, 48, 24, 1);
}

#messages {
  display: none;
  margin: 5px 10px;
  border: 1px solid rgba(72, 48, 24, 1);
  padding: 2px;
  text-align: center;
  color: rgba(255, 100, 0, 1);
}

#content {
  margin: 5px 10px;
  border: 1px solid;
  padding: 2px;
  min-height: 500px;
  background-color: rgba(246, 242, 214, 1); /*rgba(255, 250, 215, 1);*/
}

/* NAVIGATION */
.nav-tabs>li {
  margin: 0 2px 0 0;
  border-radius: 12px 12px 0 0;
}

.nav-tabs>li>a {
  margin-right: 0;
  padding: 6px 10px;
  border-radius: 12px 12px 0 0;
  background-color: rgba(218, 131, 44, 1); /* 183, 124, 65*/
  color: rgba(255, 255, 255, 1);
}

.nav-tabs>li>a:hover,
.nav-tabs>li.active>a:hover {
  background-color: rgba(255, 160, 60, 1);
  color: rgba(255, 255, 255, 1);
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
  background-color: rgba(230, 190, 150, 1);
  color: rgba(72, 48, 24, 1);
}

/* ACCOUNT */
.tab-pane {
  min-height: 456px;
  margin: -1px 1px 1px;
  padding: 0 4px 4px;
  border: 1px solid rgba(72, 48, 24, 0.5);
  background-color: rgba(233, 231, 213, 1); /*rgba(255, 250, 215, .5);*/
}
