#header {
  margin-bottom: 0;
  height: 42px;
  border: thin solid #bfd8d8;
}
#header ul#headLine {
  margin-top: 6px;
}
#container {
  margin: 0 auto;
  background: #bfd8d8 url(../img/tetrasys-logo.png) no-repeat;
  background-position: center;
  border: thin solid #bfd8d8;
}
#content {
  height: 100%;
}
#content ul.menu {
  padding-top: 30px;
}
#content ul.menu li {
  margin-left: 100px;
}
#footer {
  margin-bottom: 4px;
  border: thin solid #bfd8d8;
}
#footer ul {
  margin-top: -2px;
}
