/*
 * Login Modal View CSS
 *
 * css/login.css
 */

#login-modal .bbm-modal {
  color: rgba(72, 48, 24, 1);
}

#login-modal .bbm-modal__topbar {
  display: flex;
}

#login-modal .bbm-modal__topbar .bbm-modal__title {
  width: 50%;
  color: rgba(72, 48, 24, 1);
}

#login-modal .bbm-modal__topbar .create-account {
  width: 50%;
  margin: 0;
  padding: 20px 5px;
  text-align: right;
}

#login-modal .bbm-modal__section {
  color: rgba(72, 48, 24, 1);
}

#login-modal .all-error ul.errorlist {
  margin: 0 22px;
  font-size: 80%;
}

#login-modal .all-error span {
  margin-left: 4px;
}

#login-modal .form-fields {
  width: 60%;
  margin: auto;
}

#login-modal .form-fields label {
  display: inline-block;
  width: 35%;
  margin: 5px;
  font-weight: 700;
}

#login-modal .form-fields input[type=text],
#login-modal .form-fields input[type=password] {
  width: 55%;
}

#login-modal .bbm-modal__bottombar {
  display: flex;
}

#login-modal .bbm-modal__bottombar div {
  width: 50%;
}

#login-modal .bbm-modal__bottombar div:nth-child(2) {
  margin: 0;
  padding: 0 15px;
}

#login-modal .bbm-modal__bottombar div div {
  width: 100%;
  margin: 0;
  padding: 0 10px !important;
  text-align: left;
}

#login-modal .bbm-button {
  color: rgba(72, 48, 24, 1);
}