/*
 * Logout Modal View CSS
 *
 * css/logout.css
 */

#logout-modal.modal {
  position: absolute;
  top: 130px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: auto;
}

#logout-modal .modal-dialog {
  width: 300px;
}

#logout-modal .modal-footer {
  display: flex;
}

#logout-modal .modal-footer button {
  width: 50%;
  font-size: 80%;
}

#logout-modal .modal-footer button[name=logout-cancel] {
  color: rgba(72, 48, 24, 1);
}
