/*
 * Modal View CSS
 *
 * css/modal.css
 */

.inv-modal {
  position: fixed;
  top: 130px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: auto;
  overflow-y: auto;
  outline: 0;
}

.inv-modal .modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.inv-modal .modal-header {
  display: block;
  padding: 15px;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.inv-modal .modal-body {
  position: relative;
  padding: 15px;
}

.inv-modal .modal-footer {
  padding: 10px;
  text-align: right;
  border-top: 1px solid rgba(229, 229, 229, 1);
  font-size: 125%;
}

.inv-modal .modal-footer .button {
  margin: 1px 4px;
  padding: 6px 12px;
  width: 50%;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  white-space:nowrap;
  cursor: pointer;
}

.inv-modal .modal-footer .button-prim {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(51, 122, 183, 1);
  border-color: rgba(46, 109, 164, 1);
}

.inv-modal .modal-footer .button-def {
  color: rgba(72, 48, 24, 1);
  border-color: rgba(204, 204, 204, 1);
}

.inv-modal .block-center {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 50%;
}

.inv-modal .text-center {
  text-align: center;
}

.inv-modal .inv-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes invFadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes invFadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes invSlideIn {
  from { transform: translate(100%, -100%); }
    to { transform: translate(0, 0); }
}

@keyframes invSlideOut {
    from { transform: translate(0, 0); }
    to { transform: translate(100%, -100%); }
}

.modal-slide {
  display: none;
}

.modal-slide.is-open {
  display: block;
}

.modal-slide[aria-hidden="false"] .inv-modal-backdrop {
  animation: invFadeIn 2s cubic-bezier(0.6, 0.1, 0.15, 0.7);
}

.modal-slide[aria-hidden="false"] .modal-content {
  animation: invSlideIn 2s cubic-bezier(0.6, 0.1, 0.15, 0.7);
}

.modal-slide[aria-hidden="true"] .inv-modal-backdrop {
  animation: invFadeOut 2s cubic-bezier(0.6, 0.1, 0.15, 0.7);
}

.modal-slide[aria-hidden="true"] .modal-content {
  animation: invSlideOut 2s cubic-bezier(0.6, 0.1, 0.15, 0.7);
}


/* Login Modal */
#login-modal .modal-dialog {
  width: 500px;
}

#login-modal .modal-header {
  display: flex;
  margin-bottom: 10px;
}

#login-modal .modal-header .modal-title {
  width: 50%;
  color: rgba(72, 48, 24, 1);
}

#login-modal .modal-header .create-account {
  width: 50%;
  margin: 0;
  padding: 8px 5px;
  text-align: right;
  font-size: 80%;
}

#login-modal .modal-body {
  color: rgba(72, 48, 24, 1);
  padding: 0 15px 15px 15px;
}

#login-modal .all-error {
  width: 90%;
  margin: auto;
  font-size: 120%;
  color: rgba(255, 100, 0, 1);
}

#login-modal .all-error ul.errorlist {
  margin: 0 10px;
  font-size: 80%;
}

#login-modal .all-error span {
  margin-left: 4px;
}

#login-modal .modal-body form {
  margin-top: 20px;
}

#login-modal .form-fields {
  width: 60%;
  margin: auto;
}

#login-modal .form-fields ul {
  margin: 0;
  font-size: 80%;
  color: rgba(255, 100, 0, 1);
}

#login-modal .form-fields label {
  display: inline-block;
  width: 35%;
  margin: 5px;
  font-weight: 700;
}

#login-modal .form-fields input[type=text],
#login-modal .form-fields input[type=password] {
  width: 55%;
}

#login-modal .modal-footer {
  display: flex;
}

#login-modal .modal-footer div {
  width: 50%;
}

#login-modal .modal-footer div:nth-child(2) {
  margin: 0;
  padding: 0 15px;
}

#login-modal .modal-footer div div {
  width: 100%;
  padding: 0 10px !important;
  text-align: left;
  font-size: 80%;
}


/* Logout Modal */

#logout-modal .modal-dialog {
  width: 300px;
}

#logout-modal .modal-footer {
  display: flex;
}


/* Notify Modal */

#notify-modal .modal-dialog {
  width: 400px;
}

#notify-modal .modal-body img {
  width: 20%;
  height: 20%;
}

#notify-modal .modal-body div:nth-of-type(2) {
  margin: 10px 0 6px 0;
  font-size: 20px;
  font-weight: 600;
}

#notify-modal .modal-footer {
  display: flex;
}


/* Alert Modal */

#alert-modal .modal-dialog {
  width: 300px;
}

#alert-modal .success {
  background: lightgreen !important;
}

#alert-modal .failure {
  background: salmon !important;
}

#alert-modal .inv-alert-modal {
  top: -30%;
  left: 43%;
}


/* Test Modal */

#test-notify-modal .modal-dialog {
  width: 400px;
}

#test-notify-modal .modal-body img {
  width: 20%;
  height: 20%;
}

#test-notify-modal .modal-body div:nth-of-type(2) {
  margin: 10px 0 6px 0;
  font-size: 20px;
  font-weight: 600;
}

#test-notify-modal .modal-footer {
  display: flex;
}
