#site-header {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 5px 10px;
  border: 1px solid rgba(72, 48, 24, 1);
  border-radius: 10px 10px 0 0;
  padding: 2px;
  min-height: 100px;
}

#site-header img {
  display: block;
}

#site-header div#site-header-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 250%;
  font-size-adjust: 0.517;
  font-stretch: condensed;
  margin: auto;
}

#site-header div#login-info {
  display: flex;
  flex-direction: column;
  padding: 2px;
  min-width: 100px;
}

#site-header div#login-info div {
  margin: auto 0 auto 0;
  padding: 2px;
}

#site-header div#logout-button {
  display: block;
  width: 60%;
}

#site-header div#logout-button:hover {
  background-color: rgba(240, 200, 170, 1);
  border: 1px solid rgba(72, 48, 24, 1);
  border-radius: 4px;
}
