#site-footer {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: -moz-box;
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: flex;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  margin: 5px 10px 10px 10px;
  border: 1px solid rgba(72, 48, 24, 1);
  border-radius: 0 0 10px 10px;
  padding: 2px;
  height: 50px;
}

#site-footer div.site-footer-ct {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}

#site-footer div#footer-space {
  margin: 0 6px;
}

#site-footer div.site-footer-ct div {
  margin: 4px;
}
